<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<nav class="navbar">
        <span th:if="${#authentication.principal != null}">
            <span th:text="${#authentication.principal.username} + ' with roles: '"></span>
            <span th:each="authority, iterStat : ${#authentication.principal.authorities}" th:text="${authority} + (${!iterStat.last} ? ', ' : '')"></span>
        </span>
    <span th:if="${#authentication.principal == null}">Not authenticated</span>
    <a th:href="@{/logout}">Logout</a>
</nav>
</body>
</html>